@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* making border radius and gradient to circles*/
.border-gradient {
  position: relative;
}
.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%;
  padding: 1.5px;
  background: linear-gradient(
    180deg,
    rgba(206, 114, 44, 1) 0%,
    rgba(94, 24, 26, 0) 85%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* bell icons circle */
.bg-custom-gradient {
  background: linear-gradient(
    360deg,
    rgba(157, 13, 61, 0) -23%,
    rgba(223, 81, 43, 0.76) 45.16%,
    rgba(191, 140, 44, 1) 103%
  );
}

.button-gradient {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
